---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import {cn} from '../lib/utils'

const aboutData = {
  bozzhik: {
    link: '',
    image: '../../public/about/bozzhik.jpg',
    caption: 'Фронтенд-разработчик',
  },
  stasia: {
    link: '',
    image: '../../public/about/stasia.jpg',
    caption: 'Дизайнер продукта',
  },
  zakharday: {
    link: '',
    image: '../../public/about/zakharday.jpg',
    caption: 'Куратор по коду',
  },
  vadim: {
    link: '',
    image: '../../public/about/vadim.jpg',
    caption: 'Куратор по дизайну',
  },
  dima: {
    link: '',
    image: '../../public/about/dima.jpg',
    caption: 'Куратор по коду',
  },
}

const avatarStyles = {
  wrapper: 'group relative h-32 sm:h-[25vw]  hover:z-[50] hover:scale-105 duration-200 -mx-2.5 hover:mx-0',
  image: 'overflow-hidden rounded-full border-[4px] border-[#222] s-full',
}
---

<Layout>
  <main class="w-[90vw] mx-auto">
    <Header />

    <div class="mt-28 xl:mt-10 sm:mt-14 mb-44 sm:mb-28 space-y-52 sm:space-y-20">
      <section data-section="HERO" class="text-center grid w-full h-[55vh] xl:h-[62.5vh] place-items-center">
        <div class="space-y-10 sm:space-y-5">
          <div class="space-y-2 sm:space-y-3">
            <h1 class="font-sans text-5xl font-medium tracking-tight text-center">Кто такие INKZ?</h1>

            <p class="text-2xl leading-none sm:text-lg sm:leading-tight text-neutral-500">Мы создаём удобный и информативный сервис, который <br class="sm:hidden" /> поможет вам найти идеального тату-мастера.</p>
          </div>

          <div class="flex mx-auto w-fit">
            {
              Object.keys(aboutData).map((key) => (
                <a href={aboutData[key].link} class={avatarStyles.wrapper}>
                  <img class={avatarStyles.image} src={aboutData[key].image} alt={`${key} ${aboutData[key].caption}`} />
                  <mark class="absolute bg-black text-white leading-[1.10] rounded-md px-2 py-2 w-full opacity-0 group-hover:opacity-100 -bottom-[58px] left-0 s-fit">{aboutData[key].caption}</mark>
                </a>
              ))
            }
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
