---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import {cn} from '../lib/utils'

const aboutData = {
  bozzhik: {
    link: 'https://bozzhik.ru/',
    image: '../../about/bozzhik.jpg',
    caption: 'разработчик продукта',
  },
  stasia: {
    link: 'https://t.me/stanislavasal',
    image: '../../about/stasia.jpg',
    caption: 'дизайнер продукта',
  },
  zakharday: {
    link: 'https://t.me/dayglobal',
    image: '../../about/zakharday.jpg',
    caption: 'куратор по коду',
  },
  vadim: {
    link: 'https://t.me/m1d45',
    image: '../../about/vadim.jpg',
    caption: 'куратор по дизайну',
  },
  dima: {
    link: 'https://t.me/dmalex_brf',
    image: '../../about/dima.jpg',
    caption: 'куратор по коду',
  },
}

const avatarStyles = {
  wrapper: 'group relative h-32 sm:h-[23vw] hover:z-[50] hover:scale-105 duration-200 -mx-2.5 hover:mx-0',
  image: 'overflow-hidden rounded-full border-[4px] border-[#222] s-full',
  caption: 'absolute bg-black text-white leading-[1.10] rounded-md px-2 py-2 w-full opacity-0 group-hover:opacity-100 -bottom-[60px] left-0 s-fit sm:-bottom-16 sm:text-xs sm:leading-none',
}
---

<Layout>
  <main class="w-[90vw] mx-auto">
    <Header />

    <div class="mt-28 xl:mt-10 sm:mt-14 mb-44 sm:mb-28 space-y-52 sm:space-y-20">
      <section data-section="HERO" class="text-center grid w-full h-[55vh] xl:h-[62.5vh] place-items-center">
        <div class="space-y-10 sm:space-y-5">
          <div class="space-y-2 sm:space-y-3">
            <h1 class="font-sans text-5xl font-medium tracking-tight text-center sm:text-4xl">кто такие <span class="underline">inkz</span>?</h1>

            <p class="text-2xl leading-none sm:text-lg sm:leading-tight text-neutral-500">мы создаём удобный и информативный сервис, который <br class="sm:hidden" /> поможет вам найти идеального тату-мастера.</p>
          </div>

          <div class="flex flex-row-reverse mx-auto w-fit">
            {
              Object.keys(aboutData)
                .reverse()
                .map((key) => (
                  <>
                    <a href={aboutData[key].link} target="_blank" class={cn(avatarStyles.wrapper, 'sm:hidden')}>
                      <img class={avatarStyles.image} src={aboutData[key].image} alt={`${key} ${aboutData[key].caption}`} />
                      <div class={cn(avatarStyles.caption)}>{aboutData[key].caption}</div>
                    </a>

                    <div class={cn(avatarStyles.wrapper, 'hidden sm:block')}>
                      <img class={avatarStyles.image} src={aboutData[key].image} alt={`${key} ${aboutData[key].caption}`} />

                      <div onclick={`window.location.href = '${aboutData[key].link}';`} class={avatarStyles.caption}>
                        {aboutData[key].caption}
                        <h1 class="mt-1.5 sm:underline">Ссылка</h1>
                      </div>
                    </div>
                  </>
                ))
            }
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
